reconfigure
Makefile
config.status

CMakeFiles
CMakeCache.txt
cmake_install.cmake
*_autogen

CTestTestfile.cmake
Testing

tkmodlabenv.csh
tkmodlabenv.sh
.cproject
.project
share/assembly/*png
*~
html/
.DS_Store
.orig
doxygen

build/
bin/
lib/