
##################################
## DEFO main configuration file ##
##################################

# seeding thresholds [adc]
STEP1_THRESHOLD		40
STEP2_THRESHOLD		50
STEP3_THRESHOLD		80

# half width of seeding square [pixel]
HALF_SQUARE_WIDTH	10

# offsets for seeding square [pixel]
SQUARE_SEED_OFFSET_X	0
SQUARE_SEED_OFFSET_Y	0

# "blueishness" (blue/yellow adc ratio) above
# which a point is considered blue
BLUEISHNESS_THRESHOLD	2.1

# this is the spacing threshold
# above which two points are supposed to
# be on different splines [pixel]
SPACING_ESTIMATE	10

# points are put on the same spline along x (y)
# if their y (x) component differs from that
# of the previous one by not more than this: [pixel]
# (this option will be deprecated soon)
SEARCH_PATH_HALF_WIDTH	10

# straight distance from grid to *center* of DUT [meter]
NOMINAL_GRID_DISTANCE	1.802

# straight distance from ccd chip to *center* of DUT [meter]
NOMINAL_CAMERA_DISTANCE 1.822

# angle under which the camera sees the DUT *center* [radian]
# camera: atan(145mm/1816mm) = 0.079677
# grid:   atan(123mm/1798mm) = 0.068303
NOMINAL_VIEWING_ANGLE	0.079677
##1.451367401

# pixel pitch on chip along X/Y [meter]
# Chip size from Canon EOS 550D Specs: CMOS-Sensor (22.3mm x 14.9mm)
# Maximum image size: 5184 x 3456
# PIXEL_PITCH_X = 22.3e-3m/5184 = 4.302e-06m
# PIXEL_PITCH_Y = 14.9e-3m/3456 = 4.311e-06m
PIXEL_PITCH_X		4.302e-06
PIXEL_PITCH_Y		4.311e-06

# focal length of camera lens [meter]
LENS_FOCAL_LENGTH	0.085

# defines the verbosity of debug output (integer),
# 0 = silent, 3 = maximum verbosity
DEBUG_LEVEL		2
