[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/brownhep/PS_AUTO/cmstkmodlab/thermo/thermoDAQ/startThermoDAQ.sh
GenericName[en_US]=
GenericName=
Icon=/home/brownhep/PS_AUTO/cmstkmodlab/share/snowflake.png
MimeType=
Name[en_US]=thermoDAQ
Name=thermoDAQ
Path=/scratch/measurements
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
