LogLevel_stdout                                1
LogLevel_logfile                               1

## LANG Motion Stage
LStepExpressDevice                             /dev/ttyUSB*     # port path (accepts wildcard "*" in file basename)
LStepExpressDevice_ver                         "PE43 1.00.01"   # LANG Version
LStepExpressDevice_iver                        E2018.02.27-2002 # LANG Internal Version

## Conrad
ConradDevice                                   /dev/ttyUSB*     # port path (accepts wildcard "*" in file basename)

## Velleman
VellemanDevice                                 /dev/ttyACM*     # port path (accepts wildcard "*" in file basename)

## RelayCard
RelayCardDevice                                Conrad

# Vacuum
Vacuum_PickupTool                              1
Vacuum_Spacers                                 2
Vacuum_Baseplate                               3

# size of pixel unit in mm
mm_per_pixel_row   0.0012
mm_per_pixel_col   0.0012

# switch ON motion stage automatically (bool)
startup_motion_stage                           1

# switch ON camera automatically (bool)
startup_camera                                 1
camera_ID 				       1
camera_config_interval 			       10
camera_exposure_time 			       84.58

# assembly sequence (must be 1 or 2)
assembly_sequence                              2

# define assembly center: FNAL || BROWN || DESY
assembly_center 			       FNAL

# AssemblyParameters (format: path relative to directory where binary is executed)
AssemblyParameters_file_path                   assembly/assembly/parameters/glass.cfg

# LStepExpressMotionManager
#-- Physical bounds of the motion stage (absolute, in mm)
MotionStageLowerBound_X   -151. #Verified physical boundary = -154.3
MotionStageUpperBound_X    151.
MotionStageLowerBound_Y   -151.
MotionStageUpperBound_Y    151.
MotionStageLowerBound_Z   -150.
MotionStageUpperBound_Z    150.
MotionStageLowerBound_A   -180.
MotionStageUpperBound_A    180.

# Distances between platform markers
RefPointPlatform_Distance_X     121
RefPointPlatform_Distance_Y     -91

# AssemblyZFocusFinder
AssemblyZFocusFinder_zrange                    0.3
AssemblyZFocusFinder_pointN                   20
AssemblyZFocusFinder_zrange_max                3.0
AssemblyZFocusFinder_pointN_max              200
AssemblyZFocusFinder_stepsize_min              0.005

# AssemblyImageView
AssemblyImageView_threshold			87
AssemblyImageView_adaptiveThreshold    		587

# AssemblyMultiPickupTester
AssemblyMultiPickupTester_pickup_deltaZ        20.0
AssemblyMultiPickupTester_useBaseplateVacuum    1

# AssemblyObjectAligner
AssemblyObjectAligner_maxNumberOfRotations     6 # maximum number of iterations for the alignment procedure

# AssemblyObjectAlignerView
AssemblyObjectAlignerView_PSS_deltaX           94.30 # marked-glass top
AssemblyObjectAlignerView_PSS_deltaY            0.00 # marked-glass top

Sensor_PSS_deltaY 			      -48.00

AssemblyObjectAlignerView_PSP_deltaX           97.00 # marked-glass bottom
AssemblyObjectAlignerView_PSP_deltaY            0.00 # marked-glass bottom

Sensor_PSP_deltaY 			      -48.00

AssemblyObjectAlignerView_target_angle_deg      0.00 # marked-glass bottom

AssemblyObjectAlignerView_angle_max_dontIter    0.50 # maximum angular difference (required-measured) allowed for single-rotation correction, otherwise iterative procedure for alignment is used
AssemblyObjectAlignerView_angle_max_complete    0.01 # maximum angular difference (required-measured) allowed to declare alignment procedure completed

# PatRec
AssemblyObjectAlignerView_PatRec_threshold		87
AssemblyObjectAlignerView_PatRec_adaptiveThreshold  	587
AssemblyObjectAlignerView_PatRec_defaultAdaptive 	1

AssemblyObjectAlignerView_PatRec_angles_prescan       	0
AssemblyObjectAlignerView_PatRec_angles_finemax       	2
AssemblyObjectAlignerView_PatRec_angles_finestep      	0.15

AssemblyObjectAlignerView_PatRec_PSP1_template_fpath   	share/assembly/markedglass_marker1_drawing_588x588_BL.png
AssemblyObjectAlignerView_PatRec_PSP2_template_fpath    share/assembly/markedglass_marker1_drawing_588x588_TL.png
AssemblyObjectAlignerView_PatRec_PSS1_template_fpath    share/assembly/markedglass_marker1_drawing_588x588_BL.png
AssemblyObjectAlignerView_PatRec_PSS2_template_fpath    share/assembly/markedglass_marker1_drawing_588x588_TL.png

Metrology_PSP1_template_fpath 				share/assembly/markedglass_marker1_drawing_588x588_BL.png
Metrology_PSP2_template_fpath    			share/assembly/markedglass_marker1_drawing_588x588_TL.png
Metrology_PSS1_template_fpath				share/assembly/markedglass_marker1_drawing_588x588_BL.png
Metrology_PSS2_template_fpath    			share/assembly/markedglass_marker1_drawing_588x588_TL.png

# AssemblySmartMotionManager
AssemblySmartMotionManager_steps_dZ   0.5,0.5,0.2,0.2,0.2,0.2,0.1,0.05,0.05
AssemblySmartMotionManager_initial_step_up_dZ   1.0

# AssemblyAssembly
AssemblyAssembly_pickup1_Z                         130.0
AssemblyAssembly_pickup2_Z                         130.0

AssemblyAssembly_makespace_Z                       10.0
AssemblyAssembly_makespace_Y                       80.0

