SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", SYMLINK+="ttyLeyboldGraphixOne"
SUBSYSTEM=="tty", ATTRS{idVendor}=="05e6", ATTRS{idProduct}=="6510", SYMLINK+="ttyKeithleyDAQ6510"
SUBSYSTEM=="usb", ATTRS{idVendor}=="05e6", ATTRS{idProduct}=="6510", SYMLINK+="usbtmcKeithleyDAQ6510"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0aad", ATTRS{idProduct}=="013c", SYMLINK+="ttyRohdeSchwarzNGE103B"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="ttyAgilentTwisTorr304"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2675", ATTRS{idProduct}=="0002", SYMLINK+="ttyHuberUnistat525w"
