#
# Device
#
AgilentTwisTorr304Device                /dev/ttyAgilentTwisTorr304
HuberUnistatDevice                      /dev/ttyHuberUnistat525w
MartaIPAddress                          10.255.21.224:502
LeyboldGraphixOneDevice                 /dev/ttyLeyboldGraphixOne
RohdeSchwarzNGE103BDevice               /dev/ttyRohdeSchwarzNGE103B
KeithleyDAQ6510Device                   /dev/usbtmc0

#
# Active Devices and Measurement Setups
#
ChillerAndVacuumActive                  1
MartaActive                             0
ThroughPlaneSetupActive                 1

#
# Data Storage
#
#DataPath                               /home/cmsdaf/public/thermoDAQ2
#DataPath                               /home/cmsdaf/Documents/thermodata_local
DataPath                                /home/cmsdaf/cmstkmodlab/thermo/thermo2/thermoDAQ2/data
DataGroup                               cms
ScriptDirectory                         /home/cmsdaf/public/thermoDAQ2/scripts

#
# ThermoDisplay2 settings
#
ServerPort                              55555
PlotSaveDirectory                       /home/cmsdaf/cmstkmodlab/thermo/thermo2/thermoDisplay2/plots

#
# Communication Server settings
#
CommServerHostname                      cmssectortest01
CommServerIP                            131.169.43.223
CommServerPort                          56666

#
# Mattermost
#
mattermostwebhook                       https://mattermost.web.cern.ch/hooks/d5tpf87e63ntmroe54peebo7eo
mattermostusername                      thermodaq2
mattermostchannel                       thermodaq2

#
# Ambient temperature sensor
#
KeithleyAmbientSensor                  210
KeithleyAmbientSensorType              4WirePT100

#
# Through-Plane Thermal Measurement Setup
#
ThroughPlaneAutoConfig                  1
ThroughPlaneMattermostStatus            0
ThroughPlaneMattermostInterval          30
ThroughPlaneResistance                  4.639
ThroughPlaneCableResistance             0.2
ThroughPlaneKBlock                      394.0
ThroughPlaneABlock                      900.0
ThroughPlaneNGE103BChannel              2
ThroughPlaneKeithleyTopSensors          102 103 104 106 107 108
ThroughPlaneKeithleyTopSensorTypes      4WirePT100
ThroughPlaneKeithleyTopPositions        60.0 50.0 40.0 30.0 20.0 10.0

ThroughPlaneKeithleyTopCor0            -2.792179e-01 +1.313775e-01 +2.627801e-02 -1.098867e-01 -1.902533e-01 +1.345012e-01 
ThroughPlaneKeithleyTopCor1            +1.007108e+00 +9.977813e-01 +9.974210e-01 +1.002318e+00 +1.007423e+00 +1.001365e+00 
ThroughPlaneKeithleyTopCor2            +2.053429e-04 -1.766320e-04 +6.731936e-05 +4.047188e-05 -3.167548e-04 -1.775378e-04 
ThroughPlaneKeithleyTopCor3            -3.799587e-06 +2.065959e-06 -1.106848e-06 -6.679210e-07 +5.887407e-06 +3.704116e-06 

ThroughPlaneKeithleyBottomSensors       201 202 203 204 205 206
ThroughPlaneKeithleyBottomSensorTypes   4WirePT100
ThroughPlaneKeithleyBottomPositions     10.0 20.0 30.0 40.0 50.0 60.0

ThroughPlaneKeithleyBottomCor0         -3.367272e-03 -5.676742e-02 +1.612828e-01 +2.240767e-01 -1.888925e-02 -2.277792e-02 
ThroughPlaneKeithleyBottomCor1         +9.996174e-01 +1.002410e+00 +1.001346e+00 +9.799250e-01 +9.978348e-01 +1.005155e+00 
ThroughPlaneKeithleyBottomCor2         -1.681171e-04 -7.405765e-05 -3.657118e-04 +1.130296e-03 +7.698686e-05 -2.098567e-04 
ThroughPlaneKeithleyBottomCor3         +3.539792e-06 +1.601814e-06 +6.069989e-06 -2.021538e-05 -1.397679e-06 +3.685871e-06 
